body {
  background-color: #f2f2f2;
  font-size: 1.25rem;
  line-height: 1.5;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  margin-top: 2em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header .blog-title .logo {
  color: #aaa;
  font-size: 2em;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  text-decoration: none;
}
.header .menu {
  margin: 0;
  padding: 0;
}
.header .menu .menu-item {
  display: inline-block;
  margin-right: 10px;
}
.header .menu .menu-item-link {
  color: #aaa;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  color: #368ccb;
}
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
/* Don't count padding and borders towards widths */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
/* Use a serif font for nice readability, but not Times */
  font: 17px/26px Skolar, Tisa, "Chaparral Pro", Merriweather, Georgia, serif;
}
h1,
h2,
h3,
h4,
h5,
#logo,
#top,
.slidey b,
.slidey label,
.counter,
input,
textarea,
button,
.pagination {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
}
pre,
code,
.mono {
  font: 12px/19px "Anonymous Pro", Consolas, monospace;
  padding: 0 2px;
}
p {
  padding-bottom: 15px;
}
pre {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  white-space: pre-wrap;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
a img {
  border: none;
}
.wrap {
  min-width: 280px;
  max-width: 750px;
  width: 60%;
  margin: 0 auto;
}
body,
.items > li:first-child {
  color: #6e7886;
}
a,
.items h1 a:hover {
  color: #4075c3;
}
a:hover {
  color: #1e4d92;
}
pre,
.hilite,
mark {
  background: #f9f6ea;
  color: #8b7c65;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
input,
textarea {
  color: #697281;
}
::-webkit-input-placeholder {
  color: #b2b9c5;
}
:-moz-placeholder,
:placeholder {
  color: #b2b9c5;
}
.error,
.success {
  padding: 20px 30px;
  margin-bottom: 30px;
  background: #e25d47;
  color: #fff;
  border-radius: 5px;
}
.success {
  background: #88be33;
}
.error p,
.success p {
  float: none !important;
  width: 100%;
  padding: 0;
  margin: 0 !important;
}
a,
a img {
  -webkit-transition: opacity 0.2s, color 0.2s;
  -moz-transition: opacity 0.2s, color 0.2s;
  transition: opacity 0.2s, color 0.2s;
}
.archive {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
  text-decoration: none;
}
.page-nav {
  padding: 0.5em 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.page-nav .prev,
.page-nav .next,
.page-nav .page-number {
  padding: 0.1em 0.5em;
}
.page-nav .prev {
  float: left;
}
.page-nav .next {
  float: right;
}
.page-nav a {
  color: #777;
  text-decoration: none;
}
.page-nav a:hover {
  color: #368ccb;
}
